@use "p";
@use "h4";
@use "h3";
@use "h2";
@use "btn";
@use "btn-solid";

@font-face {
    font-family: flutter;
    src: url(./assets/flutter.woff2);
}

@font-face {
    font-family: roboto;
    src: url(./assets/Roboto-VariableFont_wdth\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: flutter;
}

@mixin flex () {
    display: flex;
    flex-direction: column;
}

header {
    @include flex();
    color: #4A4A4A;
    background-color: white;
    flex-direction: row;
    padding: 1.5rem;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;

    img {
        width: 8rem;
        cursor: pointer;
    }

    .menu i {
        font-size: 1.2rem;
        padding: 0 0.6rem;
        cursor: pointer;
    }

    nav {
        display: none;
    }
}

main {
    @include flex();

    #hero {
        @include flex();
        background: linear-gradient(35deg, #fcdde8, #f3fcff 60%);
        padding: 1.5rem;
        gap: 7rem;
        font-family: flutter;
        text-align: center;

        img {
            width: 100%;
        }

        h1 {
            font-size: 2.9rem;
            font-weight: 700;
            line-height: 2.8rem;
            padding-top: 4rem;
        }

        h6 {
            font-size: 2.1rem;
            line-height: 2.6rem;
            font-weight: 400;
        }
    }
}


@media (min-width: 1024px) {
    header {
        .menu {
            display: none;
        }

        nav {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2.5rem;

            .nav1 {
                display: flex;
                gap: 2.5rem;

                h5 {
                    font-family: flutter;
                    font-size: 0.8rem;
                    cursor: pointer;
                }
            }

            i {
                font-size: 1rem;
                font-weight: 600;
            }
        }
    }

    main {

        section {
            width: 100%;
            align-items: center;
        }

        #hero {
            padding: 3.5rem;

            .top {
                max-width: 1280px;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr 1/3fr;
                grid-template-areas: "h1 img"
                    "h6 h6";

                h1 {
                    padding: 3rem;
                    grid-area: h1;
                    text-align: start;
                    font-size: 4.4rem;
                    align-self: center;
                    line-height: 4.4rem;
                }

                img {
                    grid-area: img;
                }
            }

            h6 {
                max-width: 1280px;
                grid-area: h6;
                padding: 0 9rem 2rem 9rem;
            }
        }
    }
}